@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

/* BEGINNING OF LANDING PAGE CSS DESIGN  */
.homebc{
    background-image: url(UI/HomeComponent/Homepictures/bccc.jpg);
    background-repeat: none;
    background-size: 100% 100%;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
}
span{
    color:  #f1c40f;
}
.fadepic{
    opacity: 0;
    transform: translateX(20px);
    animation: picfade 3s forwards;
}
@keyframes picfade{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);

    }
}
.fadetext{
    opacity: 0;
    transform: translateY(20px);
    animation: textfade 3s forwards;
}
@keyframes textfade {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
    
}
.middlebc{
    background-image: url(UI/HomeComponent/Homepictures/bccc.jpg);
    background-repeat: none;
    background-size: 100% 100%;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
}
.picsfade{
    opacity: 0;
    transform: translateX(30px);   
    animation: fadeepics  3s forwards;
}
@keyframes fadeepics {
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
.fadetext2{
    opacity: 0;
    transform: translateX(40px);   
    animation: textfade2  4s forwards;
}
@keyframes textfade2 {
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
.fadetext3{
    opacity: 0;
    transform: translateX(40px);   
    animation: textfade3  5s forwards;
}
@keyframes textfade3 {
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
.bottombc{
    background-image: url(UI/HomeComponent/Homepictures/Seconbackground.jpg);
    background-repeat: none;
    background-size: 100% 100%;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    background-color: #212f3d;

}
.con{
    /* color: silver; */
    position: relative;
    width: 100%;
    /* text-align: center; */
    z-index: 3;
}
.con::after{
    content:  "";
    height: 4px;
    width: 60px;
    background-color: #f1c40f;
    position: absolute;
    top: 28px;
    right: 0;
    z-index: -5;
}
.ccon{
    /* color: silver; */
    position: relative;
    width: 100%;
    z-index: 3;
}
.ccon::after{
    content:  " ";
    height: 4px;
    width: 140px;
    background-color: #f1c40f;
    position: absolute;
    top: 80px;
    /* right: 0; */
    z-index: -5;
}
.conn{
    position: relative;
    width: 100%;
    z-index: 3;

}
.conn::after{
    content:  " ";
    height: 4px;
    width: 90px;
    background-color: #f1c40f;
    position: absolute;
    top: 80px;
    /* right: 0; */
    z-index: -5;
}
.movetext{
    opacity: 0;
    transform: translateX(40px);   
    animation: textmove  5s forwards;

}
@keyframes textmove {
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

/* END OF LANDING PAGE CSS DESIGN  */


    /* BEGINNING OF BOOKNOW CSS  */
.booknowbc{
    background-image: url(UI/BookNowComponent/BooknowPictures/booknowbackground.jpg);
    background-repeat: none;
    background-size: 100% 100%;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    background-color: #212f3d;
}

.booking{
    position: relative;
    width: 100%;
    z-index: 3;

}
.booking::after{
    content:  " ";
    height: 1px;
    width: 50px;
    background-color: #f1c40f;
    position: absolute;
    top: 15px;
    /* right: 0; */
    z-index: -5;
}
  /* ENDING OF BOOKNOW CSS  */

    /* BEGINING OF SERVICES CSS  */
.servicesbg{
    background-image: url(UI/ServicesComponent/servicespictures/servicesbc.jpg);
    background-repeat: none;
    background-size: 100% 100%;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    background-color: #212f3d;
}
.servitext{
    opacity: 0;
    transform: translateY(40px);   
    animation: textservi  5s forwards;
}
@keyframes textservi {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}
    /* ENDING OF SERVICES CSS  */

    /* BEGINING OF ABOUT CSS  */
.aboutbackground{
    background-image: url(UI/AboutComponent/AboutPictures/aboutbc.jpg);
    background-repeat: none;
    background-size: 100% 100%;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    background-color: #212f3d;
}
.aboutbc{
    background-image: url(UI/HomeComponent/Homepictures/Seconbackground.jpg);
    background-repeat: none;
    background-size: 100% 100%;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    background-color: #212f3d;
}
    /* ENDING OF ABOUT CSS  */

    /* BEGINING OF EXTRA CSS  */
.extrabc{
    background-image: url(UI/ExtrasComponent/ExtraPictures/extrabc.jpg);
    background-repeat: none;
    background-size: 100% 100%;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    background-color: #212f3d;
}
.extrabgg{
    background-image: url(UI/ExtrasComponent/ExtraPictures/extrabc2.jpg);
    background-repeat: none;
    background-size: 100% 100%;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    background-color: #212f3d;
}



